$color-bg: #13293d;
$color-btn: #E15554;
.langPageWrapper {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  background: #E8F1F2;

  .langP-header {
    color: $color-bg;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    h3 {
      font-size: 1.5rem;
      font-weight: 800;
    }
  }

  .selectLangWrapper {
    background: #13293D;
    color: #fff;
    width: 25rem;
    padding: 3rem 2rem;
    border-radius: 15px;
    box-shadow: rgba(117, 117, 218, 0.2) 0px 7px 29px 0px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .select{
    width: 100%;
    select {
      width: 100%;
      font-size: bold;
      padding: 0.7rem;
      border-radius: 20px;
      cursor: pointer;
    }
  }


  .btn-continue {
    font-weight: bold;
    // font-size: 20px;
    background: #E15554;
    color: #fff;
    padding:0.5rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    svg{
      font-size: 1.1rem;
      transition: all 0.2s linear;
    }
    &:hover svg{
      transform: translateX(5px);
    }
  }
}